certifi==2024.2.2
flask==3.0.3
werkzeug==3.0.3
requests==2.27.1
biopython==1.83
Bio==1.7.1
pandas==2.2.2
beautifulsoup4==4.9.3
reportlab==4.2.0
nltk==3.6.3
sumy==0.11
cloudscraper==1.2.71
jsonify==0.5
asreview[all]